#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  padding: 0 2em;
}

#nav-bar .logo {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
}

#nav-bar .header {
  display: block;
  float: left;
  font-size: 300%;
  line-height: 80px;
}

#nav-bar .compose {
  float: right;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px 10px;
  margin: 20px 10px;
  background-color: #E6F5F3;
  color: #00a087;
  font-size: 25px;
}

#nav-bar .compose:hover {
  background-color: white;
  color: black;
}