
.new-tweet {
  margin: 2em;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0em 0.5em 0.5em;
  background: #F5F5F5;
}

.new-tweet h2 {
  margin: 0.5em 0em 1em;
  border-bottom: 1px solid;
}

.counter {
  float: right;
  font-style: italic;
}

.new-tweet form textarea {
  padding: 0.5em;
  width: 100%;
  length: relative;
}

.new-tweet form {
  display: block;
}

.redText {
  color: red;
}

