article.tweet {
  width: auto;
  height: 9em;
  background-color: white;
  margin: 6em 2em 6em 2em;
  border: 1px solid #ccc;
  border-radius: 8px;
}

article.tweet header {
  height: 3.5em;
  background-color: #F5F5F5;
  border-radius: 8px 8px 0px 0px;
}

article.tweet footer {

  border-top: 1px solid #F5F5F5;
  float: bottom;
}

article.tweet .avatar {
  width: 50px;
  height: 50px;
  margin: 2px 2px 2px 2px;
  border-radius: 8px;
  float: left;
}

header .username {
  font-size: 25px;
  padding: 0;
  margin: 0 0 2em 0;
}

header .handle{
  margin: 1em 1em 0 0;
  float: right;
  font-size: 0.8em;
}

article.tweet .tweet-content {
  margin: 1em 1.5em;
}

article.tweet .date {
  margin: 0 0 1em 1em;
  float: left;
  font-size: 10px;
}